
#h {
	margin-left:auto;
	margin-top:auto;
	width:100%;
	height:10%;
	border:0;
}
#good_info {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

#back {
	background-color:#930;
}

#home_img {
	width:100%;
	height:40%;
}

#home_bot {
	width:100%;
	height:40%;
}

.gallery { list-style: none; padding: 0; margin: 0; }
.gallery:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.gallery li { float: left; width: 33.33333333%; }
.gallery li a { display: block; margin: 5px; border: 1px solid #3c3c3c; }
.gallery li img { display: block; width: 100%; height: auto; }
#Gallery1 .ui-content, #Gallery2 .ui-content { overflow: hidden; }

	
#logo {
	margin-left:auto;
	margin-top:auto;
	width:100%;
	height:40%;
}

.user {
	background-color:white;
	border:0;
}
#left{
	float: left;
	width: 50%;
	padding-left:1%;
	padding-right:6%;
}	
#right{
	float: left;
	margin-top:3%;
	width: 40%;
	height: 100%;

}
#down{
	color:#000
	clear: right;
	width: 60%;
}
#downButton{
	float: right;
	width: 50%;
	font-size:9px;
}

#tx {
	float: left;
	margin-left:5%;
	margin-right:40%;
}

#foot {
	margin-left:auto;
	margin-top:auto;
	margin-top:auto;
	margin-bottom:auto;
	width:100%;
	height:10%;
	border:0;
}

#info {
	position:relative;
	width:60%;
	margin-bottom:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
}

#ok {
	color:#000;
	float:left;
	width: 39%;
	text-align:center;
}

#style_ok {
	color:#000;
	margin-left:20%;
	font-size:9px;
}

.news {list-style: none; text-align:inherit; padding: 0; margin: 0; }
.news:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.news li { float:none; width: 70%;}
.news li a { display: block; margin: 30px; border: 5px solid #3c3c3c; }
.news li img { display: block; width: 100%; height: auto; }
.news h3{
	color:#333;
}

.size {  
width:87%;
height:50%;
}
.size:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
